main {
    padding-top: 30%;
}

a:link {
    text-decoration: none;
}

p {
    font-size: var(--text-stand);
    font-family: var(--font-raleway);
}

.page_titre {
    font-size: var(----article-title);
    text-align: center;
    color: var(--noir)
}

.textuel_stand {
    text-align: left;
}
