.nav {
    font-family: var(--font-josefin);
    color: var(--blanc);
  }
  
  #menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #FFB72F 0%, #D6223D 31.77%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    transform: scale(0);
    transition: 0.5s;
    z-index: 2;
  }
  
  #menu-overlay.active {
    transform: scale(1);
  }
  
  #menu-overlay .menu_ul {
  position: relative;
  }
  
  #menu-overlay .menu_ul .menu_li {
    position: relative;
    list-style: none;
    text-align: center;
    display: block;
  }
  
  #menu-overlay .menu_ul .menu_li .menu_liens {
    position: relative;
    text-decoration: none;
    font-size: var(--menu-item);
    padding: 9%;
    color: var(--blanc);
    text-transform: uppercase;
    display: inline-block;
  }
  
  #menu-overlay .menu_ul .menu_li .menu_liens:hover {
    color: var(--noir);
  }
  
  #toggleIcon {
    z-index: 1;
    cursor: pointer;
  }

.menu-cross {
padding: 0%;
justify-content: left;
align-items: left;
padding-right: 350px;
}