header {
    position: fixed;
    padding-top: 5%;
    display: flex;
    z-index: 3;
    font-family: var(--font-josefin);
}

.header_stand {
background-color: var(--blanc);
}

.header_titre {
    text-align: center;
    display: flex;
    float: right;

}

.header_titre_index {
    color: var(--blanc);
    padding-left: 20%;
}

.header_button_menu {
    padding-left: 20%;
}

.header_button_menu2 {
    visibility: hidden;
}