.card_index {
    background-color: var(--blanc);
    width: 85%;
    border-radius: 5%;
    filter: drop-shadow(3px 4px 5px rgba(0, 0, 0, 0.4));
    display: block;
    margin: auto;
}

.card_index_title {
    font-family: var(--font-josefin);
    font-size: var(--index-cards-title);
    padding-left: 8%;
}

.card_index_contenu {
    font-family: var(--font-raleway);
    font-size: var(--index-cards-contenu);
    padding-left: 5%;
    padding-right: 5%;
}

.card_button_index {
    color: var(--rouge-titre);
    font-family: var(--font-josefin);
    font-size: var(--index-cards-button);
    padding-left: 60%;
}

.card_projet {
    background-color: var(--gris);
    width: 45%;
    filter: drop-shadow(3px 4px 5px rgba(0, 0, 0, 0.4));
    display: block;
    margin: auto;
}


.card_projet_title {
    font-family: var(--font-josefin);
    font-size: var(--projet-card-title);
    color: var(--rouge-titre);
    text-align: center;   
}

.card_projet_legend {
    font-family: var(--font-raleway);
    font-size: var(--projet-card-legend);
    text-align: center;
}

.logo-projet {
    padding-top: 5%;
    text-align:center;
    margin:auto;
    display:flex;
}

.card-button-projet {
    background: transparent;
    border: transparent;

    text-align: right;
    font-size: var(--projet-card-button);
    font-family: var(--font-josefin);
    color: var(--noir);
    padding-top: 10%;
    padding-left: 45%;
}


.card_miniature {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.card_line {
    align-items: center;
    text-align: center;
}

.card_button
{
    background: transparent;
    border: transparent;
    text-align: right;
}