.form_error {
    border-radius: 10px;
    background: var(--gris);
    border: none;
}

.sitemap {
        color: var(--blanc);
        font-family: var(--font-josefin);
        font-size: var(--index-cards-button);
        background: var(--rouge-fond);
        text-align:center;
        margin:auto;
        display:flex;
        margin-bottom: 5%;
        border-radius: 10%;
}