.miniature {
    z-index: 1;
    position: relative;
}

.article-title {
    background: var(--blanc);
    border-radius: 10%;

    position: absolute;
    z-index: 2;
    margin-left: 40%;
    margin-top: 40%;
    padding: 5%;

    color: var(--rouge-titre);
    font-size: var(--article-title);
}

.article-subtitle {
    font-size: var(--article-sous-titre);
    text-align: center;
}

.article-contenu {
    font-size: var(--text-stand);
    font-family: var(--font-raleway);

    padding: 3%;
}

.article_img {
    margin: auto;
    width: 200%;
}

.article-citation {
    font-size: var(--index-citation);
    font-family: var(--font-josefin);
    color: var(--rouge-titre);  
    
    text-align: center;
}

.legend {
    font-size: var(--legend);
    color: var(--gris);
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2886) 0%, rgba(75, 75, 75, 0.2553) 47.4%, rgba(0, 0, 0, 0.37) 99.99%, rgba(196, 196, 196, 0) 100%);
}

#IA {
    text-align:center;
    margin:auto;
    display:flex;
}

.visionneuse {
	padding: 1px;
	position: relative;
	overflow: hidden;
}

/* Article 2 - Spike Jonze */
.carrousel {
    padding: 0px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.droite15 {
    grid-row: 2;
    grid-column: 1;
    width: 40px;
}

.images15 {
    width: 371px;
    height: 537px;
    left:0;
}

.images15 img{
    width: 371px;
    height: 537px;
}

.image15 {
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
}

/* Article 3 */

.article-title3 {
    background: var(--blanc);
    border-radius: 10%;

    position: absolute;
    z-index: 2;
    margin-left: 30%;
    margin-top: 40%;
    padding: 5%;

    color: var(--rouge-titre);
    font-size: var(--article-title);
}

.PKD_img {
    text-align:center;
    margin:auto;
    display:flex; 
}

.savoirPlus {
    text-align:center;
    margin:auto;
    display:flex; 

    background: transparent;
    border: transparent;
}

/* Philip K Dick */
.titre-livre {
    text-align: center;
}

.legend-livre {
    text-align: center;
}